/* CSS Entry Point */

// Turn on freq used libraries
@import 'normalize-css/normalize';
// @import 'font-awesome/scss/font-awesome';

@import 'react-nprogress/nprogress';

body {
  background: #f0f0f0;
  font-family: Roboto, sans-serif;
}

aside {
  width: 200px;
  float: left;
}
.main-content {
  width: calc(100% - 200px);
  float: right;

  h1 {
    padding: 50px 100px;
  }
}

nav a {
  color: #21252B;
  text-decoration: none;
  padding: 10px;
  display: block;
  &:hover {
    background: lighten(#21252B, 80%);
  }
}
